<ng-container>
  <div class="contact-img">
    <img [alt]="contact.contact_img_altText"
         [src]="contact.contact_img">
  </div>
  <div class="contact-name">
    {{contact.name}}
  </div>
  <div class="contact-position">
    {{contact.position}}
  </div>
  <div class="contact-team-img">
    <img [alt]="contact.team_img_altText"
         [src]="contact.team_img">
  </div>
  <div class="contact-telephone">
    {{contact.telephone}}
  </div>
  <div class="contact-email">
    {{contact.email}}
  </div>
  <div class="sidebar_line-box-element">
    <hr class="line-element">
  </div>
</ng-container>



